<!--Referenced from W3school-->
<style>
    div {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
      border-style: solid;
      border-color: black;
    }
    
    li {
        float: left;
    }
    
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: white;
        color: black;

    }
    
</style>

    
<div>
    <li><a href="{{url_for('home')}}">Home</a></li>
    <li><a href="{{url_for('products')}}">Products</a></li>
    <li><a href="{{url_for('cart')}}">Cart</a></li>
</div>

{% block content %}


{% endblock %}

<h3 align ="center"> INFSCI 2710 Project </h3>
<h3 align ="center">By: Yiwei Zhu </h3>
    